<!DOCTYPE html>
<html>
<head>
  <title>GpsPositioning</title>
  <%= javascript_include_tag "leaflet", "fullscreen_controll" %>
  <%= stylesheet_link_tag "leaflet", "leaflet.ie" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

  <%= yield %>



</body>
</html>
